
*.obj
*.pdb
*.log
*.recipe
*.tlog
*.lib
*.map
*.ipch
*.db-shm
*.opendb
*.db-wal
.vs/csgo_sdk/v17/.suo
.vs/csgo_sdk/v17/.suo
*.vsidx
output/release/csgo_sdk.map
*.db
*.tmp
*.id2
*.id0
*.nam
*.id1
.vs/csgo_sdk/v17/Browse.VC.db
